@using Microsoft.AspNetCore.Http
@using DAL.Enum
@model DAL.Entities.Account

@{ ViewData["Title"] = "Details"; }

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccountStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Interestrate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Interestrate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AccountNo" style="font-size: medium;font-weight: bold">Edit</a>

    @if (string.IsNullOrEmpty(Context.Session.GetString("UserRole")) && Context.Session.GetString("UserRole") != RoleEnum.Customer.ToString())
    { 
        <span> | </span>
    <a asp-action="Index" style="font-size: medium;font-weight: bold">Back to List</a>
    }
</div>
