@using Microsoft.AspNetCore.Http
@using DAL.Enum
@model IEnumerable<DAL.Entities.Account>

@{ ViewData["Title"] = "Accounts"; }

<h2>@TempData["Header"]</h2>
<p>
    @if (Context.Session.GetString("UserRole") != null && Context.Session.GetString("UserRole") != RoleEnum.Customer.ToString() && ViewBag.OpenAccount)
    {
<a asp-action="OpenAccount" style="font-size: medium;font-weight: bold" asp-route-customerNo="@TempData["CustomerNo"]">Add New Account</a>}
    @{ TempData.Keep("CustomerNo"); }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CustomerNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interestrate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null && Model.Any())
        {
@foreach (var item in Model)
{

<tr>
    <td>
        <a asp-action="TransactionList" asp-route-id="@item.AccountNo" style="font-size: medium;font-weight: bold">@Html.DisplayFor(modelItem => item.AccountNo)</a>
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.AccountType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Balance)
    </td>


    <td>
        <a asp-action="Details" asp-controller="Customers" asp-route-id="@item.customer.CustomerNo" style="font-size: medium;font-weight: bold">@Html.DisplayFor(modelItem => item.customer.CustomerNo)</a>
</td>
    <td>
        @Html.DisplayFor(modelItem => item.Interestrate)
    </td>
    <td>
        @Html.CheckBoxFor(modelItem => item.AccountStatus, new { @onclick = "return false" });
    </td>

    <td>

        @if (item.AccountStatus)
        {
@if (Context.Session.GetString("UserRole") != null && Context.Session.GetString("UserRole") != RoleEnum.Customer.ToString())
{
<a asp-action="Deposit" asp-route-id="@item.AccountNo" style="font-size: medium;font-weight: bold">Deposit</a>
                            <span>&nbsp;| &nbsp; </span>
                                                        <a asp-action="Withdraw" asp-route-id="@item.AccountNo" style="font-size: medium;font-weight: bold">Withdraw</a>
                                                                                    <span>&nbsp;| &nbsp; </span>}
                        <a asp-action="TransactionRange" asp-route-id="@item.AccountNo" style="font-size: medium; font-weight: bold">View Transactions</a>}
    </td>
</tr>
} }
else
{

<tr>
    <td> No Accounts found</td>
</tr>
       }
    </tbody>
</table>
