@model IEnumerable<DAL.Entities.Account>

@{ ViewData["Title"] = "Accounts"; }

<h2>@TempData["Header"]</h2>
<p>
    <a asp-action="OpenAccount">Add New Account</a>
    @{
        TempData.Keep("CustomerNo");
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CustomerNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interestrate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @*@if (Model != null && Model.Any())
            {*@
        @foreach (var item in Model)
        {

<tr>
    <td>
        <a asp-action="TransactionList" asp-route-id="@item.AccountNo">@Html.DisplayFor(modelItem => item.AccountNo)</a>
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.AccountType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Balance)
    </td>


    <td>
        @Html.DisplayFor(modelItem => item.customer.CustomerNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Interestrate)
    </td>
    <td>
        @Html.CheckBoxFor(modelItem => item.AccountStatus, new { disabled = "disabled" })
    </td>

    <td>

        @if (item.AccountStatus)
        {
                    <a asp-action="Deposit" asp-route-id="@item.AccountNo">Deposit</a> <span>|</span>
                    <a asp-action="Withdraw" asp-route-id="@item.AccountNo">Withdraw</a> <span>|</span>
                                        <a asp-action="TransactionRange" asp-route-id="@item.AccountNo">Search</a> <span>|</span>}
    </td>
</tr>
       }
        @*}
            else
            {

                    <tr>
                        <td> No Accounts found</td>
                    </tr>

            }*@
    </tbody>
</table>
